/* Typography */

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h1 {
    font-size    : rem-calc(32px);
    color        : $text;
    margin-bottom: 8px;

    .login & {
        font-size: rem-calc(28px);
    }
}

h2 {
    font-size: rem-calc(24px);
}

h3 {
    font-size: rem-calc(20px);
}

h4 {
    font-size: rem-calc(18px);
}

p {
    font-size    : rem-calc(16px);
    font-weight  : 400;
    margin-bottom: 16px;
}

a {
    font-size  : rem-calc(16px);
    font-weight: 600;
    color      : $primary;
    @include hover-state () {
        color          : $primary;
        text-decoration: underline;
    }
}

ul {
    color      : $primary;
    margin-left: 16px;

    li {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }
}
