//Settings page

.two-factor-title {
    margin-top: 2rem;
}
.two-factor-status {
    margin-top: 1rem;
    margin-left: 1rem;
}
.two-factor-action {
    margin-top: 1rem;
    margin-left: 1rem;
}

.modal-content {
    top: 10rem;
}
