.container {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 991px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container-xm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container-xm, .container {
    max-width: 720px;
  }
}
@media (min-width: 991px) {
  .container-lg, .container-md, .container-sm, .container-xm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container-xm, .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-xxl,
.col-xxl-auto, .col-xxl-12, .col-xxl-11, .col-xxl-10, .col-xxl-9, .col-xxl-8, .col-xxl-7, .col-xxl-6, .col-xxl-5, .col-xxl-4, .col-xxl-3, .col-xxl-2, .col-xxl-1, .col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col-xm,
.col-xm-auto, .col-xm-12, .col-xm-11, .col-xm-10, .col-xm-9, .col-xm-8, .col-xm-7, .col-xm-6, .col-xm-5, .col-xm-4, .col-xm-3, .col-xm-2, .col-xm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 420px) {
  .col-xm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-xm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-xm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-xm-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-xm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-xm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-xm-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xm-first {
    order: -1;
  }

  .order-xm-last {
    order: 13;
  }

  .order-xm-0 {
    order: 0;
  }

  .order-xm-1 {
    order: 1;
  }

  .order-xm-2 {
    order: 2;
  }

  .order-xm-3 {
    order: 3;
  }

  .order-xm-4 {
    order: 4;
  }

  .order-xm-5 {
    order: 5;
  }

  .order-xm-6 {
    order: 6;
  }

  .order-xm-7 {
    order: 7;
  }

  .order-xm-8 {
    order: 8;
  }

  .order-xm-9 {
    order: 9;
  }

  .order-xm-10 {
    order: 10;
  }

  .order-xm-11 {
    order: 11;
  }

  .order-xm-12 {
    order: 12;
  }

  .offset-xm-0 {
    margin-left: 0;
  }

  .offset-xm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xm-3 {
    margin-left: 25%;
  }

  .offset-xm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xm-6 {
    margin-left: 50%;
  }

  .offset-xm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xm-9 {
    margin-left: 75%;
  }

  .offset-xm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xm-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 991px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1500px) {
  .col-xxl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-xxl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-xxl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-xxl-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-xxl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-xxl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-xxl-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xxl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xxl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xxl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xxl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xxl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xxl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xxl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xxl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xxl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xxl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xxl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xxl-first {
    order: -1;
  }

  .order-xxl-last {
    order: 13;
  }

  .order-xxl-0 {
    order: 0;
  }

  .order-xxl-1 {
    order: 1;
  }

  .order-xxl-2 {
    order: 2;
  }

  .order-xxl-3 {
    order: 3;
  }

  .order-xxl-4 {
    order: 4;
  }

  .order-xxl-5 {
    order: 5;
  }

  .order-xxl-6 {
    order: 6;
  }

  .order-xxl-7 {
    order: 7;
  }

  .order-xxl-8 {
    order: 8;
  }

  .order-xxl-9 {
    order: 9;
  }

  .order-xxl-10 {
    order: 10;
  }

  .order-xxl-11 {
    order: 11;
  }

  .order-xxl-12 {
    order: 12;
  }

  .offset-xxl-0 {
    margin-left: 0;
  }

  .offset-xxl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xxl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xxl-3 {
    margin-left: 25%;
  }

  .offset-xxl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xxl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xxl-6 {
    margin-left: 50%;
  }

  .offset-xxl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xxl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xxl-9 {
    margin-left: 75%;
  }

  .offset-xxl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xxl-11 {
    margin-left: 91.6666666667%;
  }
}
/* Base Elements */
.table,
a,
body,
h1,
h2,
h3,
html,
label,
ol,
p,
table,
ul {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
  font-family: "Nunito", Arial, sans-serif;
  color: #4d5156;
  background: #fafbfc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 72px;
}
.login main {
  margin: 0;
}
.centered main {
  padding: 80px 8px 0;
}
.centered main > * {
  margin-bottom: 24px;
}

.menu-open,
.no-scroll {
  overflow: hidden;
}

/* Typography */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 2rem;
  color: #000E2E;
  margin-bottom: 8px;
}
.login h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
}

a {
  font-size: 1rem;
  font-weight: 600;
  color: #EC681C;
}
a:active, a:hover {
  outline: none;
  box-shadow: none;
  color: #EC681C;
  text-decoration: underline;
}

ul {
  color: #EC681C;
  margin-left: 16px;
}
ul li:not(:last-child) {
  margin-bottom: 8px;
}

.btn {
  display: inline-flex;
  align-items: center;
  height: 42px;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid #EC681C;
  transition: all 0.2s ease-in-out;
}
.btn:active, .btn:hover {
  outline: none;
  box-shadow: none;
  border: 2px solid #000E2E;
}
.btn :not(:last-child) {
  margin-right: 8px;
}
.btn .material-icons, .btn .material-icons-outlined {
  font-size: 20px;
}

.btn-fill {
  color: #fff;
  background: #EC681C;
}
.btn-fill:active, .btn-fill:hover {
  outline: none;
  box-shadow: none;
  color: #fff;
  background: #000E2E;
}
.login .btn-fill {
  width: 100%;
  justify-content: center;
  margin: 16px 0 0;
}

.btn-stroke {
  color: #000E2E;
  background: #fff;
  border-color: #000E2E;
}
.btn-stroke:active, .btn-stroke:hover {
  outline: none;
  box-shadow: none;
  color: #fff;
  background: #000E2E;
}

.btn-link {
  color: #EC681C;
  background: none;
  padding: 12px 0 12px 16px;
  border: 0;
}
.btn-link.focus, .btn-link:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
.btn-link:active, .btn-link:hover {
  outline: none;
  box-shadow: none;
  color: #EC681C;
  text-decoration: none;
}
.btn-link :not(:last-child) {
  margin-right: 8px;
}

.btn-tag {
  display: flex;
  align-items: center;
  color: #fff;
  background: #EC681C;
  padding: 6px;
  margin: 0 6px 6px 0;
}
.btn-tag:active, .btn-tag:hover {
  outline: none;
  box-shadow: none;
  color: #fff;
  background: #EC681C;
}
.btn-tag :not(:last-child) {
  margin-right: 4px;
}
.btn-tag span {
  font-size: 0.75rem;
  line-height: 1;
}

.btn-user {
  overflow: hidden;
  padding: 0;
  border-radius: 50%;
}

/* Form */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.login .form-group {
  margin-bottom: 12px;
}
.form-group label {
  font-size: 13px;
}
.modal .form-group .form-control.focus, .modal .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  border-color: #EC681C;
}
.form-group .input-group-text {
  font-size: 13px;
  padding: 4px 8px;
}

.twolocal-checkbox {
  display: flex;
  margin-bottom: 8px;
}
.twolocal-checkbox [type=checkbox]:checked, .twolocal-checkbox [type=checkbox]:not(:checked), .twolocal-checkbox [type=radio]:checked, .twolocal-checkbox [type=radio]:not(:checked) {
  position: absolute;
  opacity: 0;
  left: -9999px;
  visibility: hidden;
}
.twolocal-checkbox [type=checkbox]:checked + label, .twolocal-checkbox [type=checkbox]:not(:checked) + label, .twolocal-checkbox [type=radio]:checked + label, .twolocal-checkbox [type=radio]:not(:checked) + label {
  position: relative;
  display: flex;
  height: 18px;
  height: auto;
  padding-left: 25px;
  cursor: pointer;
}
.twolocal-checkbox [type=checkbox]:checked + label:active, .twolocal-checkbox [type=checkbox]:checked + label:hover, .twolocal-checkbox [type=checkbox]:not(:checked) + label:active, .twolocal-checkbox [type=checkbox]:not(:checked) + label:hover, .twolocal-checkbox [type=radio]:checked + label:active, .twolocal-checkbox [type=radio]:checked + label:hover, .twolocal-checkbox [type=radio]:not(:checked) + label:active, .twolocal-checkbox [type=radio]:not(:checked) + label:hover {
  outline: none;
  box-shadow: none;
}
.twolocal-checkbox [type=checkbox]:checked + label:active::before, .twolocal-checkbox [type=checkbox]:checked + label:hover::before, .twolocal-checkbox [type=checkbox]:not(:checked) + label:active::before, .twolocal-checkbox [type=checkbox]:not(:checked) + label:hover::before, .twolocal-checkbox [type=radio]:checked + label:active::before, .twolocal-checkbox [type=radio]:checked + label:hover::before, .twolocal-checkbox [type=radio]:not(:checked) + label:active::before, .twolocal-checkbox [type=radio]:not(:checked) + label:hover::before {
  border-color: #EC681C;
}
.twolocal-checkbox [type=checkbox]:checked + label:active p, .twolocal-checkbox [type=checkbox]:checked + label:hover p, .twolocal-checkbox [type=checkbox]:not(:checked) + label:active p, .twolocal-checkbox [type=checkbox]:not(:checked) + label:hover p, .twolocal-checkbox [type=radio]:checked + label:active p, .twolocal-checkbox [type=radio]:checked + label:hover p, .twolocal-checkbox [type=radio]:not(:checked) + label:active p, .twolocal-checkbox [type=radio]:not(:checked) + label:hover p {
  color: #4d5156;
}
.twolocal-checkbox [type=checkbox]:checked + label::before, .twolocal-checkbox [type=checkbox]:not(:checked) + label::before, .twolocal-checkbox [type=radio]:checked + label::before, .twolocal-checkbox [type=radio]:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #4d5156;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.twolocal-checkbox [type=checkbox]:checked + label::before:active, .twolocal-checkbox [type=checkbox]:checked + label::before:hover, .twolocal-checkbox [type=checkbox]:not(:checked) + label::before:active, .twolocal-checkbox [type=checkbox]:not(:checked) + label::before:hover, .twolocal-checkbox [type=radio]:checked + label::before:active, .twolocal-checkbox [type=radio]:checked + label::before:hover, .twolocal-checkbox [type=radio]:not(:checked) + label::before:active, .twolocal-checkbox [type=radio]:not(:checked) + label::before:hover {
  outline: none;
  box-shadow: none;
}
.twolocal-checkbox [type=checkbox]:checked + label::after, .twolocal-checkbox [type=checkbox]:not(:checked) + label::after, .twolocal-checkbox [type=radio]:checked + label::after, .twolocal-checkbox [type=radio]:not(:checked) + label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #EC681C;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}
.twolocal-checkbox [type=checkbox]:checked + label .icon, .twolocal-checkbox [type=checkbox]:not(:checked) + label .icon, .twolocal-checkbox [type=radio]:checked + label .icon, .twolocal-checkbox [type=radio]:not(:checked) + label .icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  color: #fff;
  z-index: 1;
}
.twolocal-checkbox [type=checkbox]:checked + label p, .twolocal-checkbox [type=checkbox]:not(:checked) + label p, .twolocal-checkbox [type=radio]:checked + label p, .twolocal-checkbox [type=radio]:not(:checked) + label p {
  font-size: 14px;
  color: #4d5156;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.twolocal-checkbox [type=checkbox]:not(:checked) + label:after, .twolocal-checkbox [type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.twolocal-checkbox [type=checkbox]:checked + label::before, .twolocal-checkbox [type=radio]:checked + label::before {
  border: 1px solid #EC681C;
}
.twolocal-checkbox [type=checkbox]:checked + label::after, .twolocal-checkbox [type=radio]:checked + label::after {
  opacity: 1;
  transform: scale(1);
}
.twolocal-checkbox [type=checkbox]:checked + label p, .twolocal-checkbox [type=radio]:checked + label p {
  color: #4d5156;
}
.login .twolocal-checkbox {
  margin: 24px 0 0;
}

.twolocal-radio {
  display: flex;
  margin-bottom: 8px;
}
.twolocal-radio [type=checkbox]:checked, .twolocal-radio [type=checkbox]:not(:checked), .twolocal-radio [type=radio]:checked, .twolocal-radio [type=radio]:not(:checked) {
  position: absolute;
  opacity: 0;
  left: -9999px;
  visibility: hidden;
}
.twolocal-radio [type=checkbox]:checked + label, .twolocal-radio [type=checkbox]:not(:checked) + label, .twolocal-radio [type=radio]:checked + label, .twolocal-radio [type=radio]:not(:checked) + label {
  position: relative;
  display: flex;
  height: 18px;
  height: auto;
  padding-left: 25px;
  cursor: pointer;
}
.twolocal-radio [type=checkbox]:checked + label:active, .twolocal-radio [type=checkbox]:checked + label:hover, .twolocal-radio [type=checkbox]:not(:checked) + label:active, .twolocal-radio [type=checkbox]:not(:checked) + label:hover, .twolocal-radio [type=radio]:checked + label:active, .twolocal-radio [type=radio]:checked + label:hover, .twolocal-radio [type=radio]:not(:checked) + label:active, .twolocal-radio [type=radio]:not(:checked) + label:hover {
  outline: none;
  box-shadow: none;
}
.twolocal-radio [type=checkbox]:checked + label:active::before, .twolocal-radio [type=checkbox]:checked + label:hover::before, .twolocal-radio [type=checkbox]:not(:checked) + label:active::before, .twolocal-radio [type=checkbox]:not(:checked) + label:hover::before, .twolocal-radio [type=radio]:checked + label:active::before, .twolocal-radio [type=radio]:checked + label:hover::before, .twolocal-radio [type=radio]:not(:checked) + label:active::before, .twolocal-radio [type=radio]:not(:checked) + label:hover::before {
  border-color: #EC681C;
}
.twolocal-radio [type=checkbox]:checked + label:active p, .twolocal-radio [type=checkbox]:checked + label:hover p, .twolocal-radio [type=checkbox]:not(:checked) + label:active p, .twolocal-radio [type=checkbox]:not(:checked) + label:hover p, .twolocal-radio [type=radio]:checked + label:active p, .twolocal-radio [type=radio]:checked + label:hover p, .twolocal-radio [type=radio]:not(:checked) + label:active p, .twolocal-radio [type=radio]:not(:checked) + label:hover p {
  color: #4d5156;
}
.twolocal-radio [type=checkbox]:checked + label::before, .twolocal-radio [type=checkbox]:not(:checked) + label::before, .twolocal-radio [type=radio]:checked + label::before, .twolocal-radio [type=radio]:not(:checked) + label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #fff;
  border: 1px solid #4d5156;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.twolocal-radio [type=checkbox]:checked + label::before:active, .twolocal-radio [type=checkbox]:checked + label::before:hover, .twolocal-radio [type=checkbox]:not(:checked) + label::before:active, .twolocal-radio [type=checkbox]:not(:checked) + label::before:hover, .twolocal-radio [type=radio]:checked + label::before:active, .twolocal-radio [type=radio]:checked + label::before:hover, .twolocal-radio [type=radio]:not(:checked) + label::before:active, .twolocal-radio [type=radio]:not(:checked) + label::before:hover {
  outline: none;
  box-shadow: none;
}
.twolocal-radio [type=checkbox]:checked + label::after, .twolocal-radio [type=checkbox]:not(:checked) + label::after, .twolocal-radio [type=radio]:checked + label::after, .twolocal-radio [type=radio]:not(:checked) + label::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: #EC681C;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.twolocal-radio [type=checkbox]:checked + label .icon, .twolocal-radio [type=checkbox]:not(:checked) + label .icon, .twolocal-radio [type=radio]:checked + label .icon, .twolocal-radio [type=radio]:not(:checked) + label .icon {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  font-size: 10px;
  color: #fff;
  z-index: 1;
}
.twolocal-radio [type=checkbox]:checked + label p, .twolocal-radio [type=checkbox]:not(:checked) + label p, .twolocal-radio [type=radio]:checked + label p, .twolocal-radio [type=radio]:not(:checked) + label p {
  font-size: 14px;
  color: #4d5156;
  margin: 0;
  transition: all 0.2s ease-in-out;
}
.twolocal-radio [type=checkbox]:not(:checked) + label:after, .twolocal-radio [type=radio]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.twolocal-radio [type=checkbox]:checked + label::before, .twolocal-radio [type=radio]:checked + label::before {
  border: 1px solid #EC681C;
}
.twolocal-radio [type=checkbox]:checked + label::after, .twolocal-radio [type=radio]:checked + label::after {
  opacity: 1;
  transform: scale(1);
}
.twolocal-radio [type=checkbox]:checked + label p, .twolocal-radio [type=radio]:checked + label p {
  color: #4d5156;
}

.twolocal-input {
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 6px;
}
.twolocal-input.with-pass-strength > textarea:not(:-moz-placeholder-shown), .twolocal-input.with-pass-strength > input:not(:-moz-placeholder-shown) {
  border-color: #000E2E;
  border-top-color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:not(:-ms-input-placeholder), .twolocal-input.with-pass-strength > input:not(:-ms-input-placeholder) {
  border-color: #000E2E;
  border-top-color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:not(:placeholder-shown), .twolocal-input.with-pass-strength > input:not(:placeholder-shown) {
  border-color: #000E2E;
  border-top-color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:not(:-moz-placeholder-shown) + span, .twolocal-input.with-pass-strength > input:not(:-moz-placeholder-shown) + span {
  color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:not(:-ms-input-placeholder) + span, .twolocal-input.with-pass-strength > input:not(:-ms-input-placeholder) + span {
  color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:not(:placeholder-shown) + span, .twolocal-input.with-pass-strength > input:not(:placeholder-shown) + span {
  color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:not(:-moz-placeholder-shown).error + span, .twolocal-input.with-pass-strength > input:not(:-moz-placeholder-shown).error + span {
  line-height: 15px;
}
.twolocal-input.with-pass-strength > textarea:not(:-ms-input-placeholder).error + span, .twolocal-input.with-pass-strength > input:not(:-ms-input-placeholder).error + span {
  line-height: 15px;
}
.twolocal-input.with-pass-strength > textarea:not(:placeholder-shown).error + span, .twolocal-input.with-pass-strength > input:not(:placeholder-shown).error + span {
  line-height: 15px;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:-moz-placeholder-shown), .twolocal-input.with-pass-strength > input:focus:not(:-moz-placeholder-shown) {
  border-color: #000E2E;
  border-top-color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:-ms-input-placeholder), .twolocal-input.with-pass-strength > input:focus:not(:-ms-input-placeholder) {
  border-color: #000E2E;
  border-top-color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:placeholder-shown), .twolocal-input.with-pass-strength > input:focus:not(:placeholder-shown) {
  border-color: #000E2E;
  border-top-color: #000E2E;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:-moz-placeholder-shown) + span, .twolocal-input.with-pass-strength > input:focus:not(:-moz-placeholder-shown) + span {
  color: #4d5156;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:-ms-input-placeholder) + span, .twolocal-input.with-pass-strength > input:focus:not(:-ms-input-placeholder) + span {
  color: #4d5156;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:placeholder-shown) + span, .twolocal-input.with-pass-strength > input:focus:not(:placeholder-shown) + span {
  color: #4d5156;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:-moz-placeholder-shown).error + span, .twolocal-input.with-pass-strength > input:focus:not(:-moz-placeholder-shown).error + span {
  line-height: 15px;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:-ms-input-placeholder).error + span, .twolocal-input.with-pass-strength > input:focus:not(:-ms-input-placeholder).error + span {
  line-height: 15px;
}
.twolocal-input.with-pass-strength > textarea:focus:not(:placeholder-shown).error + span, .twolocal-input.with-pass-strength > input:focus:not(:placeholder-shown).error + span {
  line-height: 15px;
}
.twolocal-input.with-pass-strength .progress {
  margin-top: 10px;
}
.twolocal-input > textarea, .twolocal-input > input {
  box-sizing: border-box;
  width: 100%;
  height: inherit;
  font-size: 16px;
  color: #4d5156;
  background: transparent;
  padding: 8px 12px;
  margin: 0;
  border: solid 1px rgba(143, 143, 143, 0.5);
  border-top-color: transparent;
  border-radius: 2px;
  box-shadow: none;
  transition: all 0.2s;
  /* Validation */
  /* Placeholder-shown */
}
.twolocal-input > textarea:active, .twolocal-input > textarea:hover, .twolocal-input > input:active, .twolocal-input > input:hover {
  outline: none;
  box-shadow: none;
  border-color: #000E2E;
  border-top-color: transparent;
}
.twolocal-input > textarea:active + span::after, .twolocal-input > textarea:active + span::before, .twolocal-input > textarea:hover + span::after, .twolocal-input > textarea:hover + span::before, .twolocal-input > input:active + span::after, .twolocal-input > input:active + span::before, .twolocal-input > input:hover + span::after, .twolocal-input > input:hover + span::before {
  border-top-color: #000E2E;
}
.twolocal-input > textarea:active:not(:focus):-moz-placeholder-shown, .twolocal-input > textarea:hover:not(:focus):-moz-placeholder-shown, .twolocal-input > input:active:not(:focus):-moz-placeholder-shown, .twolocal-input > input:hover:not(:focus):-moz-placeholder-shown {
  border-color: #000E2E;
}
.twolocal-input > textarea:active:not(:focus):-ms-input-placeholder, .twolocal-input > textarea:hover:not(:focus):-ms-input-placeholder, .twolocal-input > input:active:not(:focus):-ms-input-placeholder, .twolocal-input > input:hover:not(:focus):-ms-input-placeholder {
  border-color: #000E2E;
}
.twolocal-input > textarea:active:not(:focus):placeholder-shown, .twolocal-input > textarea:hover:not(:focus):placeholder-shown, .twolocal-input > input:active:not(:focus):placeholder-shown, .twolocal-input > input:hover:not(:focus):placeholder-shown {
  border-color: #000E2E;
}
.twolocal-input > textarea.focus, .twolocal-input > textarea:focus, .twolocal-input > input.focus, .twolocal-input > input:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
  border-color: #000E2E;
  border-top-color: transparent;
  outline: none;
}
.twolocal-input > textarea.focus + span, .twolocal-input > textarea:focus + span, .twolocal-input > input.focus + span, .twolocal-input > input:focus + span {
  color: #4d5156;
}
.twolocal-input > textarea.focus + span::after, .twolocal-input > textarea.focus + span::before, .twolocal-input > textarea:focus + span::after, .twolocal-input > textarea:focus + span::before, .twolocal-input > input.focus + span::after, .twolocal-input > input.focus + span::before, .twolocal-input > input:focus + span::after, .twolocal-input > input:focus + span::before {
  border-top-color: #000E2E;
}
.twolocal-input > textarea + span, .twolocal-input > input + span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  max-height: 100%;
  font-size: 85%;
  line-height: 15px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  border-color: #fff;
  transition: color 0.3s, font-size 0.3s, line-height 0.3s;
  cursor: text;
  /* Corners */
}
.twolocal-input > textarea + span::after, .twolocal-input > textarea + span::before, .twolocal-input > input + span::after, .twolocal-input > input + span::before {
  pointer-events: none;
  box-sizing: border-box;
  display: block;
  content: "";
  min-width: 10px;
  height: 8px;
  margin-top: 6px;
  border-top: solid 1px;
  border-top-color: #000E2E;
  transition: border-color 0.2s, box-shadow 0.2s;
}
.twolocal-input > textarea + span::before, .twolocal-input > input + span::before {
  margin-right: 4px;
  border-left: solid 1px transparent;
  border-radius: 2px 0;
}
.twolocal-input > textarea + span::after, .twolocal-input > input + span::after {
  flex-grow: 1;
  margin-left: 4px;
  border-right: solid 1px transparent;
  border-radius: 0 2px;
}
.twolocal-input > textarea:not(:focus):-moz-placeholder-shown.error, .twolocal-input > input:not(:focus):-moz-placeholder-shown.error {
  border-color: #DE1A1A !important;
}
.twolocal-input > textarea:not(:focus):-ms-input-placeholder.error, .twolocal-input > input:not(:focus):-ms-input-placeholder.error {
  border-color: #DE1A1A !important;
}
.twolocal-input > textarea:not(:focus):placeholder-shown.error, .twolocal-input > input:not(:focus):placeholder-shown.error {
  border-color: #DE1A1A !important;
}
.twolocal-input > textarea.error, .twolocal-input > input.error {
  border-color: #DE1A1A !important;
  border-top-color: transparent !important;
}
.twolocal-input > textarea.error + span, .twolocal-input > input.error + span {
  line-height: 12px;
}
.twolocal-input > textarea.error + span::after, .twolocal-input > textarea.error + span::before, .twolocal-input > input.error + span::after, .twolocal-input > input.error + span::before {
  border-top-color: #DE1A1A;
}
.twolocal-input > textarea:not(:focus):-moz-placeholder-shown, .twolocal-input > input:not(:focus):-moz-placeholder-shown {
  border-top-color: rgba(143, 143, 143, 0.5);
}
.twolocal-input > textarea:not(:focus):-ms-input-placeholder, .twolocal-input > input:not(:focus):-ms-input-placeholder {
  border-top-color: rgba(143, 143, 143, 0.5);
}
.twolocal-input > textarea:not(:focus):placeholder-shown, .twolocal-input > input:not(:focus):placeholder-shown {
  border-top-color: rgba(143, 143, 143, 0.5);
}
.twolocal-input > textarea:not(:focus):-moz-placeholder-shown + span, .twolocal-input > input:not(:focus):-moz-placeholder-shown + span {
  font-size: 14px;
  line-height: 54px;
}
.twolocal-input > textarea:not(:focus):-ms-input-placeholder + span, .twolocal-input > input:not(:focus):-ms-input-placeholder + span {
  font-size: 14px;
  line-height: 54px;
}
.twolocal-input > textarea:not(:focus):placeholder-shown + span, .twolocal-input > input:not(:focus):placeholder-shown + span {
  font-size: 14px;
  line-height: 54px;
}
.twolocal-input > textarea:not(:focus):-moz-placeholder-shown + span::after, .twolocal-input > textarea:not(:focus):-moz-placeholder-shown + span::before, .twolocal-input > input:not(:focus):-moz-placeholder-shown + span::after, .twolocal-input > input:not(:focus):-moz-placeholder-shown + span::before {
  border-top-color: transparent;
}
.twolocal-input > textarea:not(:focus):-ms-input-placeholder + span::after, .twolocal-input > textarea:not(:focus):-ms-input-placeholder + span::before, .twolocal-input > input:not(:focus):-ms-input-placeholder + span::after, .twolocal-input > input:not(:focus):-ms-input-placeholder + span::before {
  border-top-color: transparent;
}
.twolocal-input > textarea:not(:focus):placeholder-shown + span::after, .twolocal-input > textarea:not(:focus):placeholder-shown + span::before, .twolocal-input > input:not(:focus):placeholder-shown + span::after, .twolocal-input > input:not(:focus):placeholder-shown + span::before {
  border-top-color: transparent;
}
.twolocal-input > textarea:not(:-moz-placeholder-shown), .twolocal-input > input:not(:-moz-placeholder-shown) {
  border-color: #000E2E;
  border-top-color: transparent;
}
.twolocal-input > textarea:not(:-ms-input-placeholder), .twolocal-input > input:not(:-ms-input-placeholder) {
  border-color: #000E2E;
  border-top-color: transparent;
}
.twolocal-input > textarea:not(:placeholder-shown), .twolocal-input > input:not(:placeholder-shown) {
  border-color: #000E2E;
  border-top-color: transparent;
}
.twolocal-input > textarea:not(:-moz-placeholder-shown) + span, .twolocal-input > input:not(:-moz-placeholder-shown) + span {
  color: #000E2E;
}
.twolocal-input > textarea:not(:-ms-input-placeholder) + span, .twolocal-input > input:not(:-ms-input-placeholder) + span {
  color: #000E2E;
}
.twolocal-input > textarea:not(:placeholder-shown) + span, .twolocal-input > input:not(:placeholder-shown) + span {
  color: #000E2E;
}
.twolocal-input > textarea:not(:-moz-placeholder-shown).error + span, .twolocal-input > input:not(:-moz-placeholder-shown).error + span {
  line-height: 15px;
}
.twolocal-input > textarea:not(:-ms-input-placeholder).error + span, .twolocal-input > input:not(:-ms-input-placeholder).error + span {
  line-height: 15px;
}
.twolocal-input > textarea:not(:placeholder-shown).error + span, .twolocal-input > input:not(:placeholder-shown).error + span {
  line-height: 15px;
}
.twolocal-input > textarea:focus:not(:-moz-placeholder-shown), .twolocal-input > input:focus:not(:-moz-placeholder-shown) {
  border-color: #000E2E;
  border-top-color: transparent;
}
.twolocal-input > textarea:focus:not(:-ms-input-placeholder), .twolocal-input > input:focus:not(:-ms-input-placeholder) {
  border-color: #000E2E;
  border-top-color: transparent;
}
.twolocal-input > textarea:focus:not(:placeholder-shown), .twolocal-input > input:focus:not(:placeholder-shown) {
  border-color: #000E2E;
  border-top-color: transparent;
}
.twolocal-input > textarea:focus:not(:-moz-placeholder-shown) + span, .twolocal-input > input:focus:not(:-moz-placeholder-shown) + span {
  color: #4d5156;
}
.twolocal-input > textarea:focus:not(:-ms-input-placeholder) + span, .twolocal-input > input:focus:not(:-ms-input-placeholder) + span {
  color: #4d5156;
}
.twolocal-input > textarea:focus:not(:placeholder-shown) + span, .twolocal-input > input:focus:not(:placeholder-shown) + span {
  color: #4d5156;
}
.twolocal-input > textarea:focus:not(:-moz-placeholder-shown).error + span, .twolocal-input > input:focus:not(:-moz-placeholder-shown).error + span {
  line-height: 15px;
}
.twolocal-input > textarea:focus:not(:-ms-input-placeholder).error + span, .twolocal-input > input:focus:not(:-ms-input-placeholder).error + span {
  line-height: 15px;
}
.twolocal-input > textarea:focus:not(:placeholder-shown).error + span, .twolocal-input > input:focus:not(:placeholder-shown).error + span {
  line-height: 15px;
}
.twolocal-input label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.2px;
  color: #DE1A1A;
  margin-top: 8px;
}
.twolocal-input > textarea {
  resize: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background: #fff;
  padding: 16px 24px;
  transition: box-shadow 0.3s ease-in-out;
}
.login header {
  height: 140px;
  padding: 24px;
  background: #fafbfc;
}
.centered header {
  padding: 0 8px;
  border-bottom: 1px solid rgba(143, 143, 143, 0.5);
}
header .navbar-nav {
  flex-direction: row;
  align-items: center;
}
@media (max-width: 575.98px) {
  header .navbar-nav {
    flex-direction: column;
  }
}
header .navbar-nav :not(:last-child) {
  margin: 0 32px 0 0;
}
@media (max-width: 575.98px) {
  header .navbar-nav :not(:last-child) {
    margin: 0 0 16px;
  }
}
header .navbar-nav a {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  color: rgba(143, 143, 143, 0.5);
  padding: 4px 8px;
}
@media (max-width: 575.98px) {
  header .navbar-nav a {
    font-size: 1.375rem;
  }
}
header .navbar-nav a::before {
  opacity: 0;
  position: absolute;
  bottom: -20px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background: #EC681C;
  transition: all 0.2s ease-in-out;
}
header .navbar-nav a.active {
  color: #EC681C;
}
header .navbar-nav a.active::before {
  opacity: 1;
}
@media (max-width: 575.98px) {
  header .navbar-nav a.active::before {
    opacity: 0;
  }
}
.scrolled header.fixed-top {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.scrolled.centered header {
  border-bottom: 1px solid transparent;
}
header .logo {
  display: flex;
}
@media (max-width: 575.98px) {
  header .logo {
    justify-content: center;
  }
}
header .logo img {
  width: 240px;
}
.centered header .logo img {
  width: 100px;
}
header .navbar-toggler {
  padding: 5px;
  z-index: 900;
}
header .navbar-toggler.focus, header .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  header .navbar-toggler {
    padding: 5px 0 5px 5px;
  }
}
header .navbar-toggler .icon-bar {
  position: relative;
  display: block;
  width: 26px;
  height: 2px;
  background: #000E2E;
  transition: all 0.2s ease-in-out;
}
header .navbar-toggler .icon-bar:not(:nth-child(2)) {
  margin-top: 6px;
}
header .navbar-toggler .icon-bar:nth-child(2) {
  top: 0;
  transform: rotate(0deg);
}
.menu-open header .navbar-toggler .icon-bar:nth-child(2) {
  top: 8px;
  transform: rotate(45deg);
}
header .navbar-toggler .icon-bar:nth-child(3) {
  width: 100%;
  left: 0;
}
.menu-open header .navbar-toggler .icon-bar:nth-child(3) {
  width: 0;
  left: 50%;
}
header .navbar-toggler .icon-bar:nth-child(4) {
  top: 0;
  width: 18px;
  transform: rotate(0deg);
}
.menu-open header .navbar-toggler .icon-bar:nth-child(4) {
  top: -8px;
  width: 26px;
  transform: rotate(-45deg);
}
@media (max-width: 575.98px) {
  header .navbar-collapse {
    position: fixed;
    opacity: 0;
    top: 72px;
    left: 0;
    display: block;
    width: 100vw;
    height: calc(100vh - 72px);
    background: #fff;
    padding: 48px 16px;
    margin: 0;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
  }
  header .navbar-collapse.show {
    opacity: 1;
    pointer-events: auto;
  }
  header .navbar-collapse.show .nav-link {
    top: 0;
  }
  .scrolled header .navbar-collapse {
    top: 64px;
    height: calc(100vh - 64px);
  }
}
header .user {
  width: 42px;
  height: 42px;
}
.centered header .user {
  margin-left: auto;
}
header .user .dropdown-menu {
  min-width: 280px;
  color: #4d5156;
  padding: 12px;
  border: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 4px 16px rgba(0, 0, 0, 0.08);
  z-index: 1040;
}
header .user .dropdown-item {
  display: flex;
  align-items: center;
  color: #4d5156;
  padding: 6px 4px;
}
header .user .dropdown-item:active, header .user .dropdown-item:hover {
  outline: none;
  box-shadow: none;
  background: rgba(143, 143, 143, 0.1);
}
header .user .dropdown-item :not(:last-child) {
  margin-right: 4px;
}
header .user .dropdown-item .material-icons, header .user .dropdown-item .material-icons-outlined {
  font-size: 20px;
}
header .user .dropdown-item span {
  font-size: 14px;
}
header .user hr {
  margin: 8px 0;
}
header .user .info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px;
}
header .user .info img {
  width: 64px;
  height: 64px;
  margin-right: 8px;
  border-radius: 4px;
}
header .user .content {
  display: flex;
  flex-direction: column;
}
header .user .content span {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  margin-top: auto;
  border-top: 1px solid rgba(143, 143, 143, 0.2);
}
@media (max-width: 575.98px) {
  footer {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.login footer {
  justify-content: center;
}
@media (max-width: 767.98px) {
  footer .links {
    margin: 0 0 16px;
  }
}
footer .links a {
  font-size: 0.875rem;
  text-decoration: none;
  color: #4d5156;
  transition: 0.2s ease-in-out;
}
footer .links a:active, footer .links a:hover {
  outline: none;
  box-shadow: none;
  color: #EC681C;
}
footer .links a:not(:last-child) {
  margin-right: 16px;
}
footer .onboarding-img img {
  position: fixed;
  height: 60vh;
}
@media (max-width: 1199.98px) {
  footer .onboarding-img img {
    height: 40vh;
  }
}
@media (max-width: 990.98px) {
  footer .onboarding-img img {
    height: 30vh;
  }
}
@media (max-width: 767.98px) {
  footer .onboarding-img img {
    display: none;
  }
}
footer .onboarding-img img.bot-left {
  bottom: 57px;
  left: 0;
}
footer .onboarding-img img.bot-right {
  bottom: 57px;
  right: 0;
  transform: scaleX(-1);
}
footer .trademark span {
  font-size: 0.75rem;
}

.onboarding {
  position: relative;
  padding: 24px 0;
  z-index: 100;
}
.onboarding article {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 32px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.08);
}
.onboarding form {
  margin: 8px 0;
}
.onboarding hr {
  width: 100%;
}
.onboarding .bot a {
  font-size: 0.875rem;
}
.onboarding .bot span {
  padding: 0 8px;
}

.balance-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 24px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.08);
}
@media (max-width: 767.98px) {
  .balance-card {
    flex-direction: column;
  }
}
.balance-card > :not(:last-child) {
  margin: 0 16px 0 0;
}
@media (max-width: 767.98px) {
  .balance-card > :not(:last-child) {
    margin: 0 0 16px;
  }
}
.balance-card .info {
  display: flex;
  align-items: center;
  color: #000E2E;
  max-width: 75%;
}
.balance-card .info > :not(:last-child) {
  margin-right: 8px;
}
.balance-card .info .copy-this {
  cursor: pointer;
}
.balance-card .info #addressInput {
  color: white;
  width: 5px;
  border: transparent;
}
.balance-card .info #addressInput:focus {
  color: white;
}
.balance-card .info #addressInput ::-moz-selection {
  background: #ffffff;
  border: transparent;
}
.balance-card .info #addressInput ::selection {
  background: #ffffff;
  border: transparent;
}
.balance-card .info #addressInput ::-moz-selection {
  background: #ffffff;
  border: transparent;
}
.balance-card .info span {
  font-size: 24px;
}
.balance-card .info span.token-logo-container img {
  height: 24px;
}
.balance-card .info span.address-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.balance-card .info h2 {
  white-space: nowrap;
}
.balance-card .info h2 span {
  margin-left: 15px;
}
.balance-card .options {
  display: flex;
}
@media (max-width: 575.98px) {
  .balance-card .options {
    flex-direction: column;
  }
}
.balance-card .options > :not(:last-child) {
  margin: 0 8px 0 0;
}
@media (max-width: 575.98px) {
  .balance-card .options > :not(:last-child) {
    margin: 0 0 16px;
  }
}

.dark-logo {
  color: #000e2e;
}

.confirm-password {
  margin-top: 1rem;
}

.centered-modal-buttons {
  text-align: center;
  margin-top: 6.5rem;
}

.key {
  word-wrap: break-word;
}

.something-went-wrong {
  color: red;
  font-weight: bold;
}

.two-factor-title {
  margin-top: 2rem;
}

.two-factor-status {
  margin-top: 1rem;
  margin-left: 1rem;
}

.two-factor-action {
  margin-top: 1rem;
  margin-left: 1rem;
}

.modal-content {
  height: 35%;
  top: 10rem;
}
