@font-face {
    font-family: 'Sw721Bd';
    src: url('/fonts/Sw721Bd.ttf');
}

@font-face {
    font-family: 'Sw721Bl';
    src: url('/fonts/Sw721Bl.ttf');
}

@font-face {
    font-family: 'Sw721It';
    src: url('/fonts/Sw721It.ttf');
}

@font-face {
    font-family: 'Sw721Rm';
    src: url('/fonts/Sw721Rm.ttf');
}

@font-face {
    font-family: 'Swiss721BoldBT';
    src: url('/fonts/Swiss721BoldBT.ttf');
}

@font-face {
    font-family: 'Swiss721BoldItalicBT';
    src: url('/fonts/Swiss721BoldItalicBT.ttf');
}

@font-face {
    font-family: 'Swiss721BT';
    src: url('/fonts/Swiss721BT.ttf');
}

@font-face {
    font-family: 'Swiss721ItalicBT';
    src: url('/fonts/Swiss721ItalicBT.ttf');
}

@font-face {
    font-family: 'swz721b';
    src: url('/fonts/swz721b.ttf');
}

@font-face {
    font-family: 'swz721i';
    src: url('/fonts/swz721i.ttf');
}

@font-face {
    font-family: 'swz721n';
    src: url('/fonts/swz721n.ttf');
}
